.is-hidden {
  display: none;
}

.is-displayed {
  display: block;
}

.no-select {
  user-select: none;
}

.fade-out {
  opacity: 0;
  height: 0;
  top: 50%;
  transition: all 0.5s ease-in-out;
}

.fade-in {
  opacity: 1;
  height: 100%;
  transition: all 0.2s ease-in-out;
}
