@keyframes print {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cursor-blink {
  to {
    opacity: .0;
  }
}

@keyframes border-blink {
  50% {
    border-color: transparent;
  }
}

@keyframes show-up {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



